/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); */
@import './color.css';
@import './fonts.css';

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  letter-spacing: -0.04em;
}

body {
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type='file'] {
  display: none;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
